-r requirements.txt
build
codecov
fast-alchemy
flake8

Flask-Restless==0.17.0
flask-restless-datamodel==0.3.0
isort


pre-commit==2.21.0

pytest >= 4.5.0
pytest-cov
pytest-xdist
requests-flask-adapter
SQLAlchemy<1.4
yapf
