-r requirements.txt

flask>=1.1.1
Flask-Restless==0.17.0
flask-restless-datamodel
fast-alchemy
requests-flask-adapter

codecov
flake8
isort
yapf

pre-commit==1.15.2

pytest >= 5.0.0
pytest-cov
pytest-xdist
